---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/sections/navbar.astro';
import Presentation from '@/sections/presentation.astro';
import Proyectos from '@/sections/proyectos.astro';
---

<Layout title="Portafolio">
	<Navbar />
	<main>
		<Presentation />
		<Proyectos />
	</main>
</Layout>

<style>
	body{
		margin: 0;
	}
</style>
