---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/sections/navbar.astro';

import navbar from '@/sections/navbar.astro';
---

<Layout title="Portafolio">
	<Navbar />
	<main>
		
	</main>
</Layout>

<style>
	body{
		margin: 0;
	}
</style>
