---
import Layout from '@/layouts/Layout.astro';
import Footer from '@/sections/footer.astro';
import Navbar from '@/sections/navbar.astro';
import Presentation from '@/sections/presentation.astro';
import Proyectos from '@/sections/proyectos.astro';
import SobreMi from '@/sections/sobre_mi.astro';
import Tecnologias from '@/sections/tecnologias.astro';
import Aprendiendo from '@/sections/aprendiendo.astro';
import Formacion from '@/sections/formacion.astro';
---

<Layout title="Portafolio">
	<Navbar />
	<main>
		<Presentation />
		<SobreMi />
		<Proyectos />
		<Tecnologias />
		<Aprendiendo />
		<Formacion />
	</main>
	<Footer />
</Layout>

<style>
	body{
		margin: 0;
	}
</style>
