<section class="presentacion">
    <h1 class="titulo_presentación">Soy Alexis desarrollador web Front-End</h1> 
    <h2 class="subtitulo_presentación">Joven esntusiasta por el desarrollo web y los videojuegos.</h2>

    <a class="presentacion_ver_trabajo" href="#">Descargar cv</a>
</section>

<style>
    .presentacion{
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .titulo_presentación, .subtitulo_presentación{
        margin: 0;
    }

    .titulo_presentación{
        border-bottom: 3px solid #fff;
        padding: 0 10px;

        font-family: "Tiny5", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
    }

    .subtitulo_presentación{
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 500;
    }

    @media ( 500px <= width <= 800px) {
        .titulo_presentación{
            font-size: 25px;
        }

        .subtitulo_presentación{
            font-size: 15px;
        }
    }

    @media ( 400px <= width <= 499px) {
        .titulo_presentación{
            font-size: 20px;
        }

        .subtitulo_presentación{
            font-size: 15px;
        }
    }

    @media ( 1px <= width <= 399px) {
        .titulo_presentación{
            font-size: 15px;
        }

        .subtitulo_presentación{
            font-size: 10px;
        }
    }

    .presentacion_ver_trabajo{
        position: absolute;
        top: 53%;
        margin-top: 30px;
        background-color: #fff;
        padding: 10px;
        text-decoration: none;
        color: #494949;
        border-radius: 20px;
        border-bottom: 2px solid #ff0000;
        font-weight: 600;
        transition: box-shadow 0.5s;
    }

    .presentacion_ver_trabajo:hover{
        box-shadow: 0px 0px 20px #fff;
    }

    .presentacion_ver_trabajo:active{
        border-bottom: none;
    }


</style>