<section class="presentation">
    <div class="presentation_container">
        <img class="profile_container" src="https://i.scdn.co/image/ab67616d0000b273d8eedd3e32682857322c06d4" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur adipisci illum minus cum odit! Dolore molestias ratione vero et numquam deleniti voluptatum alias, consequatur aliquam ut quidem dignissimos soluta possimus?</p>
    </div>
</section>

<style>
    .presentation{
        color: #fff;
        margin-top: 130px;
        display: flex;
        justify-content: center;
    }

    .presentation_container{
        width: 600px;
        text-align: center;
    }

    .profile_container{
        width: 400px;
        border-radius: 100%;
    }
</style>